{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tweets</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% tailwind_css %}
  </head>
  <body>
    <body class="bg-gray-50 font-serif leading-normal tracking-normal">
      <div class="container mx-auto">
        <section class="flex items-center justify-center h-screen">
          <h1 class="text-5xl">Welcome to Tweets = ❤️</h1>
        </section>
      </div>
    </body>
  </body>
</html>
